.aws-sam/
out.yml
.venv/
__pycache__/
*.env
*.pem
data/cord/metadata.csv
data/pgdata/
.python-version
data/pubmed/*.xml.gz
data/pubmed/*.xml.gz.md5
data/pubmed/load_pubmed.err
data/pubmed/load_pubmed.out
results/20200706-cord-github/github_articles.json
data/cord/cord-19_2020-07-04.tar.gz
data/cord/load_cord.err
data/cord/load_cord.out
data/cord/**/*.csv
fastapi_test/
data/cord/load_cord_subset.err
data/20201022-NCBI-disease-corpus/*.zip
data/20201022-NCBI-disease-corpus/*.txt
data/podcasts/Python_Bytes/*_rss_full_history
data/podcasts/Talk_Python_To_Me/*_rss_full_history
data/podcasts/Python_Bytes/transcripts/
notebooks/transformers_qa_mlflow_pyfunc/
notebooks/model_bert-large-uncased-whole-word-masking-finetuned-squad/
notebooks/tokenizer_bert-large-uncased-whole-word-masking-finetuned-squad/
cloudformation/dbapi_lambda_out.yml
