asyncpg==0.22.0
bcrypt==3.2.0
cryptography==3.4.5
email-validator==1.1.2
fastapi==0.54.2; python_version >= "3.6"
mangum==0.9.2; python_version >= "3.6"
passlib==1.7.4
python-dotenv==0.12.0
python-jose==3.2.0
python-multipart==0.0.5
sqlalchemy==1.4.11
uvicorn==0.12.3
